<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CRM</title>
    <style th:replace="/admin/share/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <div th:replace="/admin/share/preloader"></div>

    <div th:replace="/admin/share/header"></div>

    <div th:replace="/admin/share/left-side"></div>

    <div class="content-wrapper">
        <div layout:fragment="content"></div>
    </div>

    <div th:replace="/admin/share/footer"></div>

    <div th:replace="/admin/share/script"></div>

    <th:block layout:fragment="script"></th:block>
</div>

</body>
</html>
